body{
    padding:0;
    margin:0;
    font-family:sans-serif;
}
#contenedor {
    width: 100%;
    height: 100vh;
    background-color:#ccc;
    background-image: url(landscape.jpg);
    background-position: center center;
    background-size: cover;
}

#contenido{
    position:relative;
    top:15%;
    width:70%;
    height:80%;
    margin:0 auto;
    background-color: #fff;
    opacity:0.8;
    padding:25px;
    border-radius: 5px;
}

#contenido div{
    /* 	background-color:white; */
    /*border:1px solid black;*/
}
.arriba{
    min-height:60%;
    /*background-color:red;*/
}

.proyectos{
    margin:0 auto;
    font-size:20px;
    text-align:left;
    min-height:40%;
    /*border:1px solid black;*/
}

.contenedor-foto{
    float:left;
    width:25%;
}
.descripcion{
    float:right;
    width:70%;
    /*background-color:red;*/
    overflow: scroll;

}
.descripcion p{
    text-align: justify;
}
h1, h2, h3, h4{
    margin:0;
}

ul{
    margin:0;
    padding:5px;
}
.contenedor-foto ul li{
    list-style:none;
    line-height: 2.1em;

}

.facebook{
    width:21px;
    height:21px;
    background-image: url(https://librosweb.es/img/css_avanzado/f0113.png);
    background-position: -11px -41px;
    display: inline-block;
}.twitter{
    width:21px;
    height:21px;
    background-image: url(https://librosweb.es/img/css_avanzado/f0113.png);
    background-position: -11px -41px;
    display: inline-block;
}.linkedin{
    width:21px;
    height:21px;
    background-image: url(https://librosweb.es/img/css_avanzado/f0113.png);
    background-position: -41px -38px;
    display: inline-block;
}
li div{
    margin-right: 4px;
}

.proyecto-item{
    display: inline-block;
    width:20%;
    height:150px;
    /*background-color: aqua;*/
    margin: 20px 20px;
    text-align: center;
    line-height: 180px;
    overflow:hidden;
}
.proyecto-item img{
    height:100%;
    min-height:100%;
    left:50%;
    position:relative;
    transform: translateX(-50%);
}

li a{
    text-decoration: none;
    color:peru;
}

li a:hover{
    color:black;
}